/*
* Credits to https://dev.to/alemesa/10-awesome-sass-scss-mixins-5ci2
*/

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
  $baseSize: 16px;
  
  @if unit($font-size) == '' {
    $font-size: $font-size * 1px;
  }

  font-size: $font-size;
  font-size: ($font-size / $baseSize) * 1rem;

  @if $line-height==normal {
      line-height: normal;
  } @else {
      line-height: $line-height / $font-size;
  }

  @if $letter-spacing==normal {
      letter-spacing: normal;
  } @else {
      letter-spacing: #{$letter-spacing / $font-size}em;
  }
}
